certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Flask==1.1.2
geos==0.2.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
numpy==1.19.3
opensky-api==1.3.0
Pillow==8.0.1
pyparsing==2.4.7
pyproj==3.0.0.post1
pyshp==2.1.2
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
